* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 700;
}

table{
    margin-left: 35%;
    margin-top: 10%;
    width: 30%;
    border: 3px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

thead{
    text-align: center;
}

tbody{
    text-align: center;
}

@media (max-width: 1024px)
{
    table {
        margin-left: 25%;
        margin-top: 10%;
        width: 50%;
        border: 5px solid  rgb(255, 255, 255);
        border-collapse: collapse;
    }

    thead{
        background-color: rgb(60, 0, 116);
        color: rgb(255, 255, 255);
        font-family: Trebuchet MS, sans-serif;
        font-size: 50px;
    }

    tbody{
        background-color: rgb(107, 107, 107);
        color: rgb(255, 255, 255);
        font-family: Trebuchet MS, sans-serif;
        font-size: 50px;
    }
}