body{
    background-color: rgb(66, 64, 64);
}
ol{
   display: flex; 
}
a{
   text-decoration: none; 
   color: aliceblue;
}
nav{
   background-color: rgb(0, 89, 206);
   width: auto;
   height: auto;
}